@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Grifter';
	src: url(../../public/fonts//Grifter/grifter.otf);
	font-weight: normal;
}
@font-face {
	font-family: 'PlusJakartaSans';
	src: url(../../public/fonts//Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
	font-weight: normal;
}

html {
  font-family: 'PlusJakartaSans';
  font-size: 16px;
  scroll-behavior: smooth;
}

.hide_scrollbar::-webkit-scrollbar {
    display: none;
}

.hide_scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.set_bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.transitionA {
	transition: all ease 0.25s;
}
.transitionB {
	transition: all linear 0.1s;
}